.chat-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-component__top {
  flex: 0 0 50px;
}

.chat-component__content {
  /* flex: 1; */
  height: calc(100vh - 50px - 50px - 144px);
}

.chat-component__bottom {
  flex: 0 0 144px;
}
